# Build output
dist/
.output/

# Astro temporary files
.astro/
# También es común ignorar la carpeta de caché de Vite/Astro
.cache/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production
.env.local
.env.*.local

# IDEs & Editors
.vscode/
.idea/
*.swp
*.pbp

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript (Opcional)
# Si no quieres subir los tipos generados automáticamente de Astro
*.d.ts